{% extends "base.html" %}
{% block page_content %}
  <div class="col-md-8 offset-md-2">
      <h1>{{ blogpost.title }}</h1>
      <small>
          {{ blogpost.created_on.date }} |&nbsp;
          Categories:&nbsp;
          {% for category in blogpost.categories.all %}
          <a href="{% url 'blog_category' category.name %}">
              {{ category.name }}
          </a>&nbsp;
          {% endfor %}
      </small>
      <p>{{ blogpost.body | linebreaks }}</p>
      <h3>Leave a comment:</h3>
      <form action="/blog/{{ blogpost.pk }}/" method="POST">
        {% csrf_token %}
          <div class="form-group">
              {{ form.author }}
          </div>
          <div class="form-group">
              {{ form.body }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h3>Comments:</h3>
      {% for comment in comments %}
      <p>
          On {{comment.created_on.date }}&nbsp;
          <b>{{ comment.author }}</b> wrote:
      </p>
      <p>{{ comment.body }}</p>
      <hr>
      {% endfor %}
  </div>
{% endblock %}
